/*ÓÃ»§×¢²á*/

.wrap-bgcolor-border{background:#f5f5f5;border-top:3px solid #1c6396;}
.logon-wrap{background:#fff;height:522px;margin:20px auto;border:1px solid #eee;font-size:14px;font-family:"Î¢ÈíÑÅºÚ";}
.logon-wrap input{font-family:"Î¢ÈíÑÅºÚ";color:#666;}
.logon-sub-hd{height:58px;line-height:58px;border-bottom:1px solid #eee;}
.logon-artical{float:left;font-size:21px;font-weight:normal;color:#333;text-indent:30px;}
.email-step{float:right;width:500px;}
.email-step .step1,.email-step .step2,.email-step .step3{width:500px;margin-top:3px;}
.logon-layout{width:930px;margin:0px auto 0px;}
.user-register,.user-register ul,.user-register ul li{float:left;width:100%;}
.user-register ul li{width:100%;margin-bottom:20px;}
.user-register ul .down-warn{height:50px;margin-bottom:0px;}
.user-register ul .down-warn .isactive{position:relative;}
.down-warn .ui-err{margin:6px 0px 0px 74px;}
body .down-warn .ui-err .arrow{background-position:left -40px;width:8px;height:5px;left:11px;top:34px;}
.a-active,.a-active:hover{float:left;background:#46a4d9;width:91px;height:36px;line-height:36px;margin-left:10px;text-align:center;color:#fff;border-radius:2px;}
.user-register ul .register-btn{margin-top:15px;}
.user-register ul .service{margin-bottom:15px;line-height:15px;}
.service .sv-checkbox{float:left;width:15px;height:15px;margin:0px 10px 0px 75px;}
.service span{float:left;color:#666;}
.service span a:hover{text-decoration:underline;}
.service span em{color:#999;padding-left:4px;}
.user-register{float:left;width:552px;}
body .user-login{width:700px;}
.user-register .ui-err{height:34px;line-height:34px;}
.user-register .ui-err .arrow{top:13px;}
.user-register .err-txt{background-position:-4px -7px;padding:0px 10px 0px 23px;}
.user-register .button{margin-left:75px;}
.register-btn .button{*display:inline;}
.logon-right{float:right;width:340px;height:304px;border-left:1px solid #ddd;}
.ui-login{width:160px;margin:95px auto 0px;}
.ui-login p{line-height:20px;color:#999;text-align:center;}
.person-user-layout{margin:40px 0px 0px 104px;}
.mail-bg{float:left;background:url('http://img.kuaidihelp.com/www/new/mail.png') no-repeat left top;width:85px;height:62px;overflow:hidden;}
.ui-mail{float:right;width:750px;color:#333;}
.user-term{line-height:25px;padding-bottom:30px;}
.open-link{clear:both;padding-top:40px;}
.open-link a,.open-link a:hover{text-decoration:underline;}
.mail-explain{float:left;margin-top:85px;border-top:1px solid #e3e3e3;}
.mail-explain dt{float:left;width:100%;margin:15px 0px 10px 0px;height:25px;line-height:25px;}
.mail-explain dd{float:left;width:100%;line-height:20px;color:#999;}
.sent-mail-explain{width:465px;line-height:30px;color:#666;font-size:16px;}
.limit-explain{line-height:20px;margin:10px 0px 35px 0px;color:#999;}
.no-receive-mail{clear:both;float:left;width:100%;margin-top:30px;display:inline;}
.no-receive-mail dt{float:left;width:100%;color:#666;margin-bottom:10px;display:inline;}
.no-receive-mail dd{color:#999;line-height:24px;}



/*ÓÃ»§µÇÂ¼*/
.forget-pwd{float:left;padding-left:10px;line-height:40px;}
.forget-pwd:hover,.free-register:hover{text-decoration:underline;}
.free-register{padding-left:75px;}

/*ÕÒ»ØÃÜÂë*/

body .psd-wrap{width:600px;}
.logon-sub-hd .orange{float:left;padding-left:15px;line-height:64px;font-weight:normal;}
.display-txt{margin-left:4px;}
.psd-wrap .ui-input-item label{width:100px;}
.psd-wrap .button{margin-left:105px;}
.opration-success{margin:70px 0px 0px 156px;font-family:"Î¢ÈíÑÅºÚ";}
.opration-success .congrat{float:left;width:100%;}
.congrat h4{float:left;color:#666;font-size:24px;line-height:46px;margin-left:20px;font-weight:normal;display:inline;}
.user-account{padding-left:66px;line-height:25px;color:#999;font-size:15px;}
.user-account a:hover{text-decoration:underline;}
.link-btn{margin:35px 0px 0px 66px;}
.link-btn .button{margin-right:20px;}
.user-email{position:relative;margin-top:40px;}
.top-warn-line{}
.top-warn-line #acc_error{position:relative;}
.top-warn-line .ui-err-line{height:34px;line-height:34px;}
.top-warn-line .a-active{margin-top:10px;}
.user-email{position:relative;}
.user-email .ipt-size{border-right:0px;border-radius:2px 0px 0px 2px;}

/*ÊÖ»ú×¢²á*/
.phone-register{border-top:3px solid #3399cc;}
.phone-register .em3{margin-left:124px;}
.phone-register .register-btn .next-btn{float:left;background:url('http://img.kuaidihelp.com/www/new/next_btn.png') no-repeat left top;width:150px;height:40px;line-height:40px;margin-left:75px;color:#fff;text-align:left;text-indent:40px;display:inline;cursor:pointer;overflow:hidden;}
.phone-register .logon-right{margin-top:40px;}
.phone-register .org-btn{float:left;background-color:#ff9933;height:40px;line-height:40px;margin:20px 0px 0px 5px;color:#fff;border-radius:3px;}
.phone-tips{width:654px;line-height:46px;margin:50px auto 30px;color:#666;font-size:17px;}
.phone-tips em{float:left;background:url('http://img.kuaidihelp.com/www/new/mark.png') no-repeat;width:46px;height:46px;margin-right:17px;overflow:hidden;}
.phone-tips .sign{background-position:-100px top;}
.phone-tips .right{background-position:left top;}
.phone-isvalid{width:430px;margin:0px auto;}
.phone-isvalid li{float:left;width:100%;margin-top:20px;display:inline;}
.phone-isvalid li label{float:left;width:70px;height:34px;line-height:34px;margin-right:5px;text-align:right;color:#666;font-size:13px;}
.phone-isvalid li input{float:left;width:289px;height:34px;line-height:34px;color:#333;border:1px solid #ddd;border-radius:2px;text-indent:10px;}
.phone-isvalid li.identify-line{margin-top:10px;font-size:12px;}
li.identify-line .send-btn,li.identify-line .send-disabled{float:left;width:134px;height:28px;line-height:28px;margin-left:75px;color:#fff;border-radius:2px;text-align:center;text-indent:0px;border:0px;font-size:12px;}
li.identify-line .send-btn{background:#ffb062;}
li.identify-line .send-disabled{background:#c2c2c2;cursor:default;}
li.identify-line span{float:left;height:28px;line-height:28px;margin-left:10px;color:#666;}
li.identify-line span a:hover{text-decoration:underline;}
.phone-isvalid li .finish-btn{background:#3399cc;width:auto;height:40px;line-height:40px;padding:0px 45px;margin-left:75px;border:0px;border-radius:3px;color:#fff;font-size:15px;text-align:center;cursor:pointer;overflow:visible;}
.logon-layout p.user-acount{line-height:30px;color:#666;text-indent:63px;font-size:16px;}
.logon-layout p.user-acount a:hover{text-decoration:underline;}
.log-success{width:654px;margin:auto;}
.log-success .phone-tips{margin-bottom:0px;font-size:23px;}
.enter-button{margin:40px 0px 0px 63px;}
.enter-button .btn{float:left;background:#3399cc;width:150px;height:40px;line-height:40px;margin-right:20px;border-radius:3px;color:#fff;text-align:center;font-size:14px;}


